@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Neverwinter</h1>
    <p class="lead">Welcome! Neverwinter is a MUD made for a school project!</p>
    <p>@Html.ActionLink("Learn More >>", "About", "Home")</p>
    <p>@Html.ActionLink("Register on this page >>", "Create", "User")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>(1) Register an Account!</p>
        <p>(2) Create a Character</p>
        <p>(3) Choose a Realm</p>
        <p>(4) Go on an Adventure!</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Here will be updates about our project.</p>
    </div>
    <div class="col-md-4">
        <h2>Creators</h2>
        <p>Neverwinter is made by Jeroen, Leon, Mattijn & Niels</p>
    </div>
</div>