@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    Character Name:<br />
    <input type="text" name="Name">
    <hr />
    Race:<br />
    <input type="text" name="Race">
    <hr />
    Gender:<br />
    M<input type="radio" name="Gender" value="true" /><br />
    F<input type="radio" name="Gender" value="false" />
    <hr />
    Class:<br />
    <input type="text" name="Class">
    <hr />
    <input type="submit" value="Submit" />
</form>