@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    dgfhvblkjhTSdcvbnm,./

        kjhgfdcgvhnk[ml,
        .;lkshjlk;',];'kjhgdfsAswzdetfgujo[klpk'jhdsazdfghjkl';]
    </div>
</body>
</html>
